<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Welcome, {{name}}</h1>
Your account ID is {{accountid}}

{{#if hastransactions}}
    <div class="transactions-section">
        {{#each transactions}}
            <div class="transaction">
                <p>Timestamp: {{timestamp}}</p>
                <p>Transaction ID: {{id}}</p>
                <p>Amount: ${{amount}}</p>
                <p>From: {{from}}</p>
                <p>To: {{to}}</p>
                <p>Type: {{type}}</p>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No transactions found.</p>
{{/if}}
</body>
</html>
