<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Welcome, {{name}}</h1>
Your account ID is {{accountid}}

<button type="button" class="btn btn-primary" onclick="window.location.href='account/deposit'">Deposit</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='account/withdraw'">Withdrawal</button>

{{#if success}}
    <p style="color: green">{{success}}</p>
{{/if}}

<br>Current balance is: £{{balance}}

{{#if hastransactions}}
    <div class="transactions-section">
        <hr style="border-top: 1px solid black;">
        {{#each transactions}}
            <div class="transaction">
                <p>Timestamp: {{timestamp}}</p>
                <p>Transaction ID: {{id}}</p>
                <p>Amount: £{{amount}}</p>
                <p>From: {{from}}</p>
                <p>To: {{to}}</p>
                <p>Type: {{type}}</p>
                <p>Status: {{Status}}</p>
            </div>
            <hr style="border-top: 1px solid black;">
        {{/each}}
    </div>
{{else}}
    <p>No transactions found.</p>
{{/if}}
</body>
</html>
