<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Welcome, {{customername}}</h1>

{{#if hasaccounts}}
    <div class="accounts-section">
        {{#each accounts}}
            <div class="account-card">
                <h3>Account ID: {{accountID}}</h3>
                <p>Balance: £{{balance}}</p>
                {{#if roundUpEnabled}}
                    <p>Round-Up: Enabled</p>
                {{else}}
                    <p>Round-Up: Disabled</p>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>You don't have any accounts yet.</p>
{{/if}}

<div class="create-account-section">
    <form action="/account/openaccount" method="GET">
        <button type="submit">Create New Account</button>
    </form>
</div>
</body>
</html>
