<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Dashboard</title>
</head>
<body>
<h1>Welcome, {{managername}}</h1>
Your manager ID is {{managerid}}

<h2>Manager Dashboard - List of Accounts</h2>
<table>
    <thead>
    <tr>
        <th>Account ID</th>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    {{#if hasaccounts}}
        {{#each accounts}}
            <tr>
                <td>AccountID: {{accountID}}</td>
                <td>Name: {{name}}</td>
                <td>Balance: £{{balance}}</td>
            </tr>
        {{/each}}
    {{else}}
        <p>No accounts found.</p>
    {{/if}}
    </tbody>
</table>
</body>
